/*************************************************
 *  Reveal JS
 **************************************************/
 /* .reveal section h1, 
 .reveal section h2,
 .reveal section h3,
 .reveal section h4 {
   color: #fff;
   font: inherit;
 } */

 .reveal h6 {
    margin: 0 0 20px 0;
    color: #eee8d5;
    font-family: "League Gothic", Impact, sans-serif;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word; }



.reveal ul {
    list-style-type: square; }
    .reveal ul ul,
    .reveal ul ol,
    .reveal ol ol,
    .reveal ol ul {
      display: block;
      font-size: 30px;
    }

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: normal;
    font-weight: normal;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); 
}