/*************************************************
 *  Reveal JS
 **************************************************/
 /* .reveal section h1, 
 .reveal section h2,
 .reveal section h3,
 .reveal section h4 {
   color: #fff;
   font: inherit;
 } */
/* 
.reveal section h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100px;
    font-weight: 600;
}

.reveal section h2 {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.reveal section h3 {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 20px;
    font-weight: normal;
} */